@font-face {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 100;
  font-style: normal;
  src: local("JosefinSans-Thin"),
    url(../fonts/JosefinSans-Thin.ttf);
}

@font-face {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 100;
  font-style: italic;
  src: local("JosefinSans-ThinItalic"),
    url(../fonts/JosefinSans-ThinItalic.ttf);
}

@font-face {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 200;
  font-style: normal;
  src: local("JosefinSans-ExtraLight"),
    url(../fonts/JosefinSans-ExtraLight.ttf);
}

@font-face {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 200;
  font-style: italic;
  src: local("JosefinSans-ExtraLightItalic"),
    url(../fonts/JosefinSans-ExtraLightItalic.ttf);
}

@font-face {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
  font-style: normal;
  src: local("JosefinSans-Light"),
    url(../fonts/JosefinSans-Light.ttf);
}

@font-face {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
  font-style: italic;
  src: local("JosefinSans-LightItalic"),
    url(../fonts/JosefinSans-LightItalic.ttf);
}

@font-face {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
  font-style: normal;
  src: local("JosefinSans-Regular"),
    url(../fonts/JosefinSans-Regular.ttf);
}

@font-face {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
  font-style: italic;
  src: local("JosefinSans-Italic"),
    url(../fonts/JosefinSans-Italic.ttf);
}

@font-face {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 500;
  font-style: normal;
  src: local("JosefinSans-Medium"),
    url(../fonts/JosefinSans-Medium.ttf);
}

@font-face {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 500;
  font-style: italic;
  src: local("JosefinSans-MediumItalic"),
    url(../fonts/JosefinSans-MediumItalic.ttf);
}

@font-face {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 600;
  font-style: normal;
  src: local("JosefinSans-SemiBold"),
    url(../fonts/JosefinSans-SemiBold.ttf);
}

@font-face {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 600;
  font-style: italic;
  src: local("JosefinSans-SemiBoldItalic"),
    url(../fonts/JosefinSans-SemiBoldItalic.ttf);
}

@font-face {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 700;
  font-style: normal;
  src: local("JosefinSans-Bold"),
    url(../fonts/JosefinSans-Bold.ttf);
}

@font-face {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 700;
  font-style: italic;
  src: local("JosefinSans-BoldItalic"),
    url(../fonts/JosefinSans-BoldItalic.ttf);
}