.header {
  align-items: center;
  background-color: #FFE794;
  display: flex;
  height: 80px;
  width: 100%;

  & .header__button {
    background: url("../img/navButton.svg") center no-repeat;
    border: none;
    cursor: pointer;
    height: 53px;
    width: 49px;
  }

  & .header__title {
    font-size: 28px;
    font-weight: 500;
    line-height: 1;
    margin: 0 auto;
    position: relative;

    &::before {
      background: url("../img/navIcon.svg") center no-repeat;
      content: "";
      display: block;
      height: 43px;
      position: absolute;
      top: -5px;
      left: -60px;
      width: 53px;
    }
  }

  & .header__profile {
    & .header__profile_userName {
      font-size: 25px;
      margin-bottom: 5px;
    }

    & .header__profile_logoutBtn {
      background-color: red;
      height: 32px;
      padding: 0 8px;
    }
  }
}