.project-form {
  align-items: center;
  display: flex;
  flex-direction: column;

  & .project-form__title-input {
    @include form-input-font-style;
    width: 100%;
  }

  & .project-form__create-btn {
    @include form-input-font-style;
    background-color: $add-btn-bg-color;    
    color: #000;
    margin-top: 15px;
    position: relative;

    &::before {
      content: '';
      display: block;
      background-image: url('../img/btnSaveIcon.svg');
      background-repeat: no-repeat;
      background-position: center;
      height: 37px;
      position: absolute;
      top: 6px;
      left: calc(50% - 37px/2 - 48px);
      width: 37px;
    }

    &.create {
      &::before {
        display: none;
      }
    }
  }

  & .project-form__delete-button {
    @include form-input-font-style;
    background-color: $delete-btn-bg-color;
    color: #000;
    margin-top: 15px;
    position: relative;

    &::before {
      content: '';
      display: block;
      background-image: url('../img/btnDeleteIcon.svg');
      background-repeat: no-repeat;
      background-position: center;
      height: 27px;
      position: absolute;
      top: 7px;
      left: calc(50% - 38px/2 - 46.5px);
      width: 38px;
    }
  }
}