$small-mobile-size: 360px;
$mobile-size: 390px;
$large-mobile-size: 500px;

$modal-bg-color: var(--modal-bg-color);
$form-input-color: var(--form-input-color);

$select-low-option-bg-color: var(--select-low-option-bg-color);
$select-medium-option-bg-color: var(--select-medium-option-bg-color);
$select-high-option-bg-color: var(--select-high-option-bg-color);

$add-btn-bg-color: var(--add-btn-bg-color);